.AIML {
    font-family: Arial, sans-serif;
    margin-top: 20px; 
    background: linear-gradient(to right, rgb(232, 232, 226), rgb(61, 125, 244));
    width: 100%;
  }

  .AIML:hover {   
    background: linear-gradient(to right, rgb(232, 232, 226), rgb(66, 219, 196));
  }
  
  .AIML-header {
    background-color: #282c34;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 10px;
  }
  
  pre {
    background: #201828;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    color: white;
    width: 60%;

  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }
  